@page
@using Catalog.Application.Contracts.Products
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Products</h1>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        
        <tbody>
       @foreach(ProductDto product in this.Model.Products)
        {
            <tr>
                <th scope="row">@product.ID.Value</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
        </tbody>
    </table>

</div>
